@model IEnumerable<CoreLib.Entities.Invoice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currence)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ExchangeRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplaceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplaceInvoiceCode)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.SendCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConvert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceSetupID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountInvoiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XmlFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplaceInvoiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApproveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currence)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ExchangeRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplaceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplaceInvoiceCode)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.SendCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConvert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdfFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceSetupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountInvoiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XmlFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplaceInvoiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
            <td>
                <input type="button" value="Bấm" id="btnBam"/>
            </td>
        </tr>
}   
    </tbody>
</table>
<script type="text/javascript">
    $('body').on('click', '#btnBam', () => {
        

        console.log('aaaaaaaaa');

        $.ajax({
            type: "GET",
            url: 'Invoice/Get',
            dataType: "json",
            data: {
                invoiceID: 1,
                company: ''
            },
            success: function (res) {
                var response = JSON.parse(res);
                console.log(response);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>